<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style= "margin-right: 700px; background-color: rgb(140,140,140);">
	<p>Hello World</p>
	<center>
	
	<p><% first10.forEach(function(obj){  %>
	<table>
		<a style="font-family: monospace;width: 400px;" href='/post/full/<%=obj.id %>'><%= obj.title %></a>
		<% }); %>
	</table>
	</center>
	<br>
<a href="/forum">Go to forum Home</a>
</body>
</html>