<!DOCTYPE html>
<html>
<head>
	<title>partials</title>
</head>
<body>
 	<p><% category.forEach(function(obj){  %>
		<center>	<h2><a href="/category/<%= obj.id %>"><%= obj.title %></a></h2>
			</br>
			<img style="height:400px;max-width:500px;width: expression(this.width > 500 ? 500: true);" id="Happy_CpuDude" src="<%= obj.pic %>" />
			</br>
			<p style="font-family: monospace;"><b>by: <%= obj.author %></b></p>
			</br>
		</center>
		<% }); %>
	</p>
<p>Awesome</p>
<a href="/category/new">Create a new category</a>	
</body>
</html>

