<<!DOCTYPE html>
<html>
<head>
	<title>Post</title>
</head>
<body>
<h1>Hello World</h1>
<% postData.forEach(function(obj){  %>
<center>
<p style="font-family: monospace;"><%= obj.post %></p>
			<br>
<p style="font-family: monospace;"><b>by: <%= obj.author %></b></p>
			</br>
<% }); %>
</center>
</body>
</html>