<!DOCTYPE html>
<head>
	<title>Itsnatsblog</title>
</head>
<body style= "margin-right: 700px; background-color: rgb(140,140,140);">
	<p>Hello World</p>
	<p><% category.forEach(function(obj){  %>
	<p style="font-family: monospace;width: 400px;"><%= obj.post %></p>
	<% }); %>
	</p>

	<a href="/forum">Go to main page</a>
</body>
</html>